<div class="container" style="padding: 20px">
    <h2>OnGoing Trainings</h2>
    
    <table border="1" cellspacing="0" cellpadding="15">
      <tr><th>ID</th><th>Course Name</th><th>Mentor Name</th><th>Progress</th><th>Commission</th><th>End Date</th></tr>
      <tr *ngFor = "let oneOf of trainings">
                <td>{{oneOf.id}}</td>
                <td>{{oneOf.courseName}}</td>
                <td>{{oneOf.mentorFirstName}}</td>
                <td>{{oneOf.progress}}</td>
                <td>{{oneOf.commissionAmount}}</td>
                <td>{{oneOf.endDate}}</td>
                
        
      </tr>
    </table>
    </div>