<h1 style="color:snow;text-align: center">MENTOR ON DEMAND</h1><br><br>
<!-- <div style="padding-left: 80px; padding-right: 110px;background-color: transparent;">
<div class="row" style="padding: 30px;border-radius: 15px; background-color:white">
    
    <div class="col-md-6">
        <img src="../../assets/student.jpg" alt="form" height="100%" width="100%">
    </div>
    <div class="col-md-3" style="text-align: left;padding: 10px">
        <h3 style="color: black; font-family: Georgia, 'Times New Roman', Times, serif">Welcome to mod. Mod is a one way
            gateway for the most on-demand courses in the market.We follow a hollistic approach with practical sessions
            guided by most experienced mentors.</h3>
    </div>
</div>
</div> -->
<!-- <div class="col-md-12 py-5">
    <div class="card text-center" style="padding:25px; background-color: rgba(255, 255, 255, .4);">
        <div class="card-body">

            <img src="../assets/student.jpg" height="100%" width="50%">

        </div>
    </div>
</div> -->



<div class="container">
    <div class="card">
    </div>
</div>

<h1>{{title}}</h1>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" id="myInput" type="text" name="search" 
        placeholder="Search...">
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>CourseName</th>
          <th>Duration</th>
          <th>MentorName</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr *ngFor="let course of courses">
          <td>{{course.cname}}</td>
          <td>{{course.dauration}}</td>
          <td>{{course.ctrainer}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




<br>
<br>
<!-- <header class=" text-center py-3 mb-4">
    <div class="container">
        <h1 style="color:honeydew">Courses</h1>
    </div>
</header> -->

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="d-flex justify-content-center">
                    <img src="../assets/ai.jpg" class="card-img-top" alt="..." style="height: 200px; width:200px">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Artificial Intelligance</h5>
                    <div class="card-text text-black-50">In computer science, artificial intelligence, sometimes called
                        machine intelligence, is intelligence demonstrated by machines, in contrast to the natural
                        intelligence displayed by humans.>In computer science, artificial intelligence, sometimes called
                        machine intelligence, is demonstrated by machines, in contrast to the natural
                        intelligence.</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="d-flex justify-content-center">
                    <img src="../assets/ml.png" class="card-img-top" alt="..." style="height: 200px; width:200px">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Machine Learning</h5>
                    <div class="card-text text-black-50">Machine learning is the scientific study of algorithms and
                        statistical models that computer systems use to perform a specific task without using explicit
                        instructions, relying on patterns and inference instead.A specific task without using explicit
                        instructions, relying on patterns and inference instead.</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="d-flex justify-content-center">
                    <img src="../assets/wd.jpg" class="card-img-top" alt="..." style="height: 200px; width:200px">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Web Development</h5>
                    <div class="card-text text-black-50">Web development is the work involved in developing a web site
                        for the Internet or an intranet. Web development can range from developing a simple single
                        static page of plain text to intarnet development is the complex web-based internet applications, electronic businesses, and
                        social network services.</div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="d-flex justify-content-center">
                    <img src="../assets/spring.png" class="card-img-top" alt="..." style="height: 200px; width:200px">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Java Spring</h5>
                    <div class="card-text text-black-50">The Spring Framework is an application framework and inversion
                        of control container for the Java platform. The framework's core features can be used by any
                        Java application, but there are extensions for building web applications on top of the Java EE
                        (Enterprise Edition) platform. ... The Spring Framework is open source.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->




<!-- <div class=" text-center py-3 mb-4">
    <div class="container">
        <h3 style="color:honeydew">Please <a routerLink="/login">login </a>to Continue</h3>
    </div>
</div>> -->