
	<div class="scrollmenu">
		<a data-toggle="collapse" aria-expanded="false" routerLink="applytraining">
			<i class="fa fa-graduation-cap"></i>
			apply training
		</a>

		<a data-toggle="collapse" aria-expanded="false" routerLink="mentorongoingtrainings">
			<i class="fa fa-users"></i>
			completed Trainings
		</a>
		<a data-toggle="collapse" aria-expanded="false" routerLink="addtraining">
			<i class="fa fa-book"></i>
			ongoing training
		</a>
		
	  </div>




	
	<div class="col-lg-9" List>
		<router-outlet></router-outlet>
	</div>