<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>

         
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Edit Courses</h3>
                </div>
                <div class="card-body">
                    <form class="form" #courseAddForm="ngForm">

                        <div class="form-group"
                            [class.has-error]="addCourseIdControl.invalid && addCourseIdControl.touched"
                            [class.has-success]="addCourseIdControl.valid">
                            <label for="password" class="control-label">Course Id</label>
                            <input type="text" [(ngModel)]="courseUpdateData.id" id="id" name="id"
                                class="form-control rounded-0" #addCourseIdControl="ngModel" required disabled>
                            <span class="help-block text-danger"
                                *ngIf="addCourseIdControl.invalid && addCourseIdControl.touched">
                                Course Id is Required
                            </span>
                        </div>

                        <div class="form-group"
                            [class.has-error]="addCoursecoursenameControl.invalid && addCoursecoursenameControl.touched"
                            [class.has-success]="addCoursecoursenameControl.valid">
                            <label for="email" class="control-label">Course Name</label>
                            <input type="text" [(ngModel)]="courseUpdateData.courseName" id="courseName" 
                            
                                name="courseName" class="form-control rounded-0" #addCoursecoursenameControl="ngModel"
                                required>
                            <span class="help-block text-danger"
                                *ngIf="addCoursecoursenameControl.invalid && addCoursecoursenameControl.touched">
                                Course Name is Required
                            </span>
                        </div>

                      
                        <div class="form-group"
                        [class.has-error]="addCoursecoursenameControl.invalid && addCoursecoursenameControl.touched"
                        [class.has-success]="addCoursecoursenameControl.valid">
                        <label for="email" class="control-label">Fee</label>
                        <input type="number" [(ngModel)]="courseUpdateData.fee" id="fee" 
                        
                            name="fee" class="form-control rounded-0" #addCoursecoursenameControl="ngModel"
                            required>
                        <span class="help-block text-danger"
                            *ngIf="addCoursecoursenameControl.invalid && addCoursecoursenameControl.touched">
                            Fee is Required
                        </span>
                    </div>

                    
                        <div class="form-group"
                            [class.has-error]="addCourseDescriptionControl.invalid && addCourseDescriptionControl.touched"
                            [class.has-success]="addCourseDescriptionControl.valid">
                            <label for="email" class="control-label">Course Details</label>
                            <input type="text" [(ngModel)]="courseUpdateData.courseDesc" id="courseDesc"
                            
                                name="courseDesc" class="form-control rounded-0"
                                #addCourseDescriptionControl="ngModel" required>
                            <span class="help-block text-danger"
                                *ngIf="addCourseDescriptionControl.invalid && addCourseDescriptionControl.touched">
                                Course Details is Required
                            </span>
                        </div>

                        <div class="form-group"
                        [class.has-error]="addCoursecoursenameControl.invalid && addCoursecoursenameControl.touched"
                        [class.has-success]="addCoursecoursenameControl.valid">
                        <label for="email" class="control-label">duration</label>
                        <input type="number" [(ngModel)]="courseUpdateData.cTimings" id="duration" 
                       
                            name="duration" class="form-control rounded-0" #addCoursecoursenameControl="ngModel"
                            required>
                        <span class="help-block text-danger"
                            *ngIf="addCoursecoursenameControl.invalid && addCoursecoursenameControl.touched">
                            Duration is Required
                        </span>
                    </div>

                        <button type="button" (click)="editCourse(courseUpdateData)" [disabled]="courseAddForm.invalid"
                            class="btn btn-primary float-right">Update</button>
                    </form>
                </div>
            
            </div>
          

        </div>


    </div>
</div>

<!-- <div style="padding: 20px"></div>


<div class="container" style="background-color: white;">
    <div class="row">
        <div class="col-sm-8 col-lg-8">
            <h1 class="h1">
                Add a Course <small>New Things coming up! :)</small></h1>
        </div>
    </div>
</div>

<div class="container" style="background-color: white;">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form #courseForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Course Name</label>
                                <input type="text" class="form-control" [(ngModel)]="courseData.cname" name="cname"
                                    #cname="ngModel" id="name" placeholder="Enter name" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="name">
                                    Fee</label>
                                <input type="number" class="form-control" [(ngModel)]="courseData.fee" name="fee"
                                    #fee="ngModel" id="name" placeholder="fee" required="required" />
                            </div>



                            <div class="form-group">
                                <label for="subject">
                                    Trainer</label>
                                <input type="text" class="form-control" [(ngModel)]="courseData.ctrainer"
                                    name="ctrainer" #ctrainer="ngModel" id="email" placeholder="Trainer Name"
                                    required="required" />
                            </div>
                            
                            <div class="form-group">
                                <label for="subject">
                                    Time Slot</label>
                                <input type="number" class="form-control" [(ngModel)]="courseData.duration"
                                    name="duration" #duration="ngModel" id="email" placeholder="Time Slot"
                                    required="required" />
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Description</label>
                                <textarea name="message" [(ngModel)]="courseData.cdesc" name="cdesc" #cdesc="ngModel"
                                    id="message" class="form-control" rows="9" cols="25" required="required"
                                    placeholder="write the description about the course"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" (click)="editCourse(courseUpdateData)" class="btn btn-primary pull-right"
                                id="btnContactUs">
                                Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div> -->