<div class="container" style="padding: 20px">
<h2>User List</h2>
<!-- 
<table border="1" cellspacing="0" cellpadding="15">
  <tr><th>First Name</th><th>Email Id</th><th>Password</th><th>Delete</th></tr>
  <tr *ngFor = "let user of users">
    <td>{{user.firstname}}</td>
    <td>{{user.fullname}}</td>
    <td>{{user.email}}</td>
    <td>{{user.password}}</td>
    <td><button (click) = "delete_employee(user._id)"><i class="fa fa-remove"></i></button></td>
    
  </tr>
</table>

</div> -->






<div class="container">
  <div class="card card-container">
      
<table border="1" cellspacing="0" cellpadding="15">
  <tr><th>First Name</th><th>Last Name</th><th>Email</th><th>status</th></tr>
  <tr *ngFor = "let user of users">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>

    <td align="center"><button type="button"  (click)="BlockUser(user.id)"><i class="fa fa-ban mr-1"></i>{{user.isActive?"Block" :"Activate"}}</button></td>

    
  </tr>
</table>
  </div><!-- /card-container -->
</div><!-- /container -->


